.proposta {
  &__card {
    margin: 1em 0 1em 0;
    & label {
      font-weight: 500;
    }
  }
  &__fields {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
  &__field-group {
    &_field {
      width: 75%;
    }
    &_action {
      width: 20%;
      margin: 0 0 0 1em;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }
}