.cadeia-societaria {
  margin: 2em;
  &__card {
    margin: 1em 0 1em 0;
  }
  & label {
    font-weight: 500;
  }
  &__fields{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
  &__field-group{
    &_field{
      width: 50%;
      margin-right: 25px;
    }
    &_action{
      width: 10%;
      margin: 0 0 0 1em;
    }
    &_small {
    width: 55%;
    }
  }
  &__actions {
    display: flex;
    justify-content: space-between;
  }
}