<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>
<form [formGroup]="veiculoForm" class="veiculo">
  <div class="veiculo__fields">
    <mat-form-field>
      <input matInput placeholder="Categoria" formControlName="categoria" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Marca" formControlName="marca" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ano Modelo" formControlName="anoModelo" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Modelo" formControlName="modelo" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Versão" formControlName="versao" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ano Fabricação" formControlName="anoFabricacao" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Cotação" formControlName="cotacao" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Valor do Bem" formControlName="valorDoBem" required>
    </mat-form-field>
    <div class="veiculo__field-group">
      <mat-form-field class="veiculo__field-group_field">
        <select matNativeControl placeholder="Quitado" formControlName="quitado" required>
          <option value="Sim">Sim</option>
          <option value="Nao">Não</option>
        </select>
      </mat-form-field>
    </div>
    <mat-form-field>
      <input matInput placeholder="Renavam" formControlName="renavam" required>
    </mat-form-field>
    <div class="veiculo__field-group">
      <mat-form-field class="veiculo__field-group_field">
        <input matInput placeholder="Placa" formControlName="placa" required>
      </mat-form-field>
    </div>
    <div class="veiculo__field-group">
      <mat-form-field class="veiculo__field-group_field">
        <input matInput placeholder="Chassi" formControlName="chassi" required>
      </mat-form-field>
    </div>
    <div class="veiculo__field-group">
      <mat-form-field class="veiculo__field-group_field">
        <input matInput placeholder="Cor" formControlName="cor" required>
      </mat-form-field>
    </div>
    <div class="veiculo__field-group">
      <mat-form-field class="veiculo__field-group_field">
        <input matInput placeholder="Combustível" formControlName="combustivel" required>
      </mat-form-field>
    </div>
    <mat-form-field>
      <input matInput placeholder="Despersas Despachante" formControlName="despersasDespachante" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Despesas Multa" formControlName="despesasMulta" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Despesas IPVA" formControlName="despesasIpva" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Despesas Licenciamento" formControlName="despesasLicenciamento" required>
    </mat-form-field>
    <div class="veiculo__field-group">
      <mat-form-field class="veiculo__field-group_field">
        <input matInput placeholder="UF Licenciamento" formControlName="ufLicenciamento" required>
      </mat-form-field>
    </div>
    <mat-form-field>
      <input matInput placeholder="Vendedor" formControlName="vendedor" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="CPF Vendedor" formControlName="cpfVendedor" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Tipo do Bem" formControlName="tipoDoBem" required>
    </mat-form-field>
  </div>
</form>
</div>
<div mat-dialog-actions class="modal-veiculo__actions">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="veiculoForm" [disabled]="veiculoForm.invalid" cdkFocusInitial>Ok</button>
</div>