<form [formGroup]="garantiaForm" class="garantia">
  <section class="garantia__body">

    <mat-card class="garantia__card">
      <label>Tipo Garantia</label>
      <div class="garantia__fields">
        <div class="garantia__field-group">
          <mat-form-field class="garantia__field-group_field">
            <mat-select placeholder="Tipo de Garantia" formControlName="tipoGarantia" required>
              <mat-option *ngFor="let tipoGarantia of tipoGarantias" [value]="tipoGarantia.viewValue">
                {{tipoGarantia.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button class="garantia__field-group_action" mat-raised-button color="primary" [disabled]="garantiaForm.invalid" (click)="openDialog()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </mat-card>

    <mat-card class="proposta__card" *ngIf="isShow">
      <app-veiculo [veiculo]="veiculo"></app-veiculo>
    </mat-card>

  </section>
  <section class="garantia__footer">
    <div class="garantia__actions">
      <button mat-raised-button color="accent">
        <mat-icon>attach_file</mat-icon>
        Incluir Documentos
      </button>
      <button mat-raised-button color="accent">
        <mat-icon>save_alt</mat-icon>
        Gravar
      </button>
      <button mat-raised-button color="accent">
        Enviar Proposta
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </section>
</form>