.endereco-comercial {
  &__fields {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
  &__actions {
    display: flex;
    justify-content: space-between;
  }
}