<form [formGroup]="enderecoComercialForm" class="endereco-comercial">
  <mat-card class="endereco-comercial__card">
    <label>Endereço Comecial</label>
    <div class="endereco-comercial__fields">
      <mat-form-field>
        <input matInput placeholder="Tipo de Logradouro" formControlName="tipoLogradouro" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Logradouro" formControlName="logradouro" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Número" formControlName="numero" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Complemento" formControlName="complemento" required>
      </mat-form-field>
      <div class="endereco-comercial__field-group">
        <mat-form-field class="endereco-comercial__field-group_field">
          <input matInput placeholder="CEP" formControlName="cep" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Bairro" formControlName="bairro" required>
        </mat-form-field>
      </div>
      <mat-form-field>
        <input matInput placeholder="Cidade" formControlName="cidade" required>
      </mat-form-field>
      <div class="endereco-comercial__field-group">
        <mat-form-field class="endereco-comercial__field-group_field">
          <input matInput placeholder="Estado" formControlName="estado" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="País" formControlName="pais" required>
        </mat-form-field>
      </div>
      <div class="endereco-comercial__field-group">
        <mat-form-field class="endereco-comercial__field-group_ddd">
          <input matInput placeholder="DDD" formControlName="ddd" required>
        </mat-form-field>
        <mat-form-field class="endereco-comercial__field-group_telefone">
          <input matInput placeholder="Telefone Comercial" formControlName="telefoneComercial" required>
        </mat-form-field>
      </div>
    </div>
  </mat-card>
  <!-- <div class="endereco-comercial__actions">
    <button mat-raised-button matStepperPrevious color="accent">
      <mat-icon>chevron_left</mat-icon>
      Voltar
    </button>
    <button mat-raised-button matStepperNext color="accent">
      Continuar
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div> -->
</form>