<form [formGroup]="veiculoForm" class="veiculo">
  <label>Veículo</label>
  <div class="veiculo__fields">
    <div class="veiculo__fields_align">
      <label> Categoria </label>
      <span>{{ veiculo.categoria}}</span>
    </div>
    <div class="veiculo__fields_align">
      <label> Marca </label>
      <span>{{ veiculo.marca }}</span>
    </div>
    <div class="veiculo__fields_align">
      <label> Modelo  </label>
      <span>{{ veiculo.modelo }}</span>
    </div>
    <div class="veiculo__fields_align">
      <label> Ano Modelo  </label>
      <span>{{ veiculo.anoModelo }}</span>
    </div>
    <div class="veiculo__fields_align">
      <label> Valor do Bem  </label>
      <span>{{ veiculo.valorBem}}</span>
    </div>
    <div class="veiculo__field-group">
      <div class="veiculo__field-group_field">
        <label> Placa  </label>
        {{ veiculo.placa }}
      </div>
      <button mat-raised-button color="primary" (click)="openDialog()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>

  </div>
</form>