.veiculo {
  & label {
    font-weight: 500;
  }
  &__fields {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin-top: 1em;
    &_align {
      display: flex;
      flex-direction: column;
    }
  }
  &__field-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &_field {
      display: grid;
      grid-template-columns: 0.5fr;
      & label {
        font-weight: 500;
      }
    }
  }
}