<mat-toolbar color="primary" class="proposta-negocio">
  <img src="../../assets/images/ic_logo_light.svg" alt="">
  <label> Proposta de Negócio PJ</label>
</mat-toolbar>

<mat-horizontal-stepper class="proposta-negocio__stepper" #stepper>
  <mat-step matTooltip="Qualificação da Empresa">
    <ng-template matStepLabel >Qualificação da Empresa</ng-template>
    <app-qualificacao-empresa></app-qualificacao-empresa>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Endereço Comercial</ng-template>
    <app-endereco-comercial></app-endereco-comercial>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Cadeia Societária</ng-template>
    <app-cadeia-societaria></app-cadeia-societaria>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Principais Clientes</ng-template>
    <app-principais-clientes></app-principais-clientes>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Principais Fornecedores</ng-template>
    <app-principais-fornecedores></app-principais-fornecedores>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Principais Produtos</ng-template>
    <app-principais-produtos></app-principais-produtos>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Proposta</ng-template>
    <app-proposta></app-proposta>
  </mat-step>
</mat-horizontal-stepper>
