.proposta-negocio {
  display: flex;
  justify-content: flex-start;
  &__container {
    height: 90%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__stepper {
    padding: 0.5em 0 0 0;
    width: 240px;
    &_number {
     border-radius: 50%;
     padding: 0px 5px;
     background: #fff;
     border: 1px solid;
     text-align: center;
    }
    &_action {
      color: #737373;
      padding: 1em;
      transition: background-color 0.5s;
      &:hover {
        cursor: pointer;
        transform: scale(1.10);
        color: #EF6C00;
      }
      &:active {
        transform: scale(0.99);
        color: #EF6C00;
      }
    }
    &_active {
      color: #EF6C00;
    }
  }
  & img {
    width: 100px
  }
  & label {
    margin: 0 0 0 1em;
  }
  &__actions {
    display: flex;
    justify-content: space-between;
    margin: 2em;
    &_next {
      justify-content: flex-end;
    }
  }
}