<mat-toolbar color="primary" class="proposta-negocio">Proposta de Negócio PJ</mat-toolbar>

<mat-horizontal-stepper class="proposta-negocio__stepper" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="propostaForm">
    <ng-template matStepLabel>Proposta</ng-template>
    <app-proposta></app-proposta>
  </mat-step>
  <mat-step [stepControl]="qualificacaoEmpresaForm">
    <ng-template matStepLabel>Qualificação da Empresa</ng-template>
    <app-qualificacao-empresa></app-qualificacao-empresa>
  </mat-step>
  <mat-step [stepControl]="enderecoComercialForm">
    <ng-template matStepLabel>Endereço Comercial</ng-template>
    <app-endereco-comercial></app-endereco-comercial>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Cadeia Societária</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Principais Clientes</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Principais Fornecedores</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Principais Produtos</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
